@using Listovki_TSP_Uni.Models
@model ListovkaModel


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ListovkaModel</h4>
    <hr />
    <dl class="row">
    </dl>
        <div class="row">
            <form asp-action="Reshavane">
                <div class="border container">
                    @foreach (Listovki_TSP_Uni.Models.VuprosModel vupros in (List<Listovki_TSP_Uni.Models.VuprosModel>)ViewData["vuprosi"])
                    {

                        <div id="@vupros.id" class="border border-primary p-lg-5">

                            <h2>@Html.DisplayFor(model => vupros.uslovie)</h2>

                            @if (vupros.img != null)
                            {
                                <div class="container">
                                    <img src="~/Photos/@vupros.img" asp-append-version="true" class="img-thumbnail image" />
                                </div>
                            }

                            <p>Точки: @Html.DisplayFor(model => vupros.tochki)</p>
                            <p>Брой верни: @vupros.Otgovori.Where(o => o.veren).ToArray().Length </p>

                            <input type="hidden" name="vuprosId" value="@vupros.id" />
                            <!--izprashta informaciq za vuprosite i otbelqzanite otgovori-->
                            <div class="flex-container">
                                @foreach (Listovki_TSP_Uni.Models.OtgovorModel otgovor in vupros.Otgovori)
                                {
                                    <label class="border flex clickable text-center p-lg-3">

                                        @Html.DisplayFor(x => otgovor.Content)
                                        @if (otgovor.izobrajenie != null)
                                        {
                                            <img src="~/Photos/@otgovor.izobrajenie" asp-append-version="true" class="img-thumbnail" />
                                        }
                                        <input type="checkbox" name="otbelqzanOtg" value="@otgovor.id" id="@otgovor.id" />
                                    </label>
                                }
                            </div>
                        </div>


                    }
                </div>
                <div>
                    <input type="submit" class="btn-dark btn-block btn" />
                </div>
            </form>
        </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
